.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height:70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a:hover{
    font-size: 25px;
}

.principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    border: 3px solid rgb(230, 230, 230);
}

.sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid rgb(230, 230, 230);

}

.div_reservas{
    width: 80%;
    height: 100%;
}

.logo_A{
    position: relative;
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.menu{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
}

.help{
    color: white;
    font-size: 22px;
    border: 3px solid red;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 80%;
}
.cadastro{   
    font-size: 22px;
    color: white;
    background-color: red;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 80%;
}
.log_off{
    font-size: 22px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 80%;
}

.calendario{
    margin: 10px auto;
    width: 80%;
    max-width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid rgb(230, 230, 230);
}

.users_lista{
    max-height: 800px;
    overflow-y: scroll;
    width: 100%;
}

/* HEADER LIST */

.header_lista{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /*  background-color: #b3b3b3; */
}

.btn_NovaReserva{
    position: relative;
    display: flex;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    background-color: red;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    right: 15px;
}


.btn_NovaReserva a{
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
}

.btn_NovaReserva i{
    font-size: 16px;
    margin-left: 5px;
    color: #fff;
}

.div_pesquisa{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
   position: relative;
}

.base_pes{
    top: 30px;
    margin-left: 10px;
    position:relative;
    width: 80%; 
    height: 40px;
    border-radius: 50px;   
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px 5px  rgba(0, 0, 0, 0.2);
    display: flex;
}

.pesquisa_reservas{
    position: relative;
    left: 10%;
    width: 60%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
}

.pesquisa_reservas::placeholder{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.459);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.lupa{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
}

.imprimir{
    width: 35px;
    height: 35px;
    right: 30px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 50px;
    background-color: transparent;
    color: red;
}

.imprimir:hover{
    font-size: 16px;
}

.download{
    width: 35px;
    height: 35px;
    right: 30px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 50px;
    background-color: transparent;
    color: red;
}
.download:hover{
    font-size: 16px;
}

/* LISTA */
.div_title{
    position: relative;
    margin-left: 1%;
    top: 10px;
    height: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
 }
 
 
 .div_title a{
     font-family: "Cosi Azure";
     font-size: 40px;
     font-weight: 800;
     text-decoration: none;
     text-transform: uppercase;
     color: #fefefe00;
     -webkit-text-stroke: 1px #000; 
     margin-right: 100%;
 }
 
 .div_title span::before{
     width: 0;
     color: #000;
     overflow: hidden;
     position: absolute;
     content: attr(data-text);
     transition: all 1s cubic-bezier(0.84, 0 , 0.08, 0.99);
 }
 
 .div_title span:hover::before{
     width: 100%;
 }
 
 .span{
    width: 250px; 
    position: relative;
    display: block;
    margin: 70px;

 }
 
.title_pes{
    position: relative;
    font-size: 40px;
}

.reservas{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tabela_mes{
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: 3px solid rgb(230, 230, 230); 
}


.lista{
    overflow: scroll;
    overflow-x: hidden;
}

.tabela_mes thead{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.tabela_mes tr{
    border: 3px solid rgb(230, 230, 230);
    height: 50px;
}

.tabela_mes td{
    box-sizing: border-box;
    max-width: 5px;
    overflow-x: hidden;
    width: 25%;
}

.num{
    text-align: end;
    padding-right: 10px;
    color: lightgray;
    font-size: 30px;
    column-span: 4;
}
.mes{
    text-align: start;
    padding-left: 10px;
}

.lista{
    position: relative;
    top: 30px;
    width: 90%;
    height: 75%;
}

li{
    margin: 20px;
    list-style: none;
    color:gray;
    text-transform: capitalize;
}

.users_lista h1{
    margin-left: 20px;
}

.body tr{
    width: 100%;
    height: 100px;
    display: block;
}

.title_RS{
    font-size: 14px;
    color: #000;
}