.App {
  text-align: center;
}
input {
  outline: none;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid black;
}
button {
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 60, 255);
  font-weight: bold;
  border: none;
  padding: 5px;
}

a{
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
  background-color:rgb(0, 60, 255);
  margin-left: 100px;
}

.link{
  margin-left: 50px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: rgb(0, 60, 255);
  border-radius: 10px;
  padding: 5px;
}
.link:hover{
  background-color: lightblue;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
h1{
  margin-top: 50px;
}